<!doctype html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <title>ToDo List app</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="ToDoController">
    <br />
    <form>
    <input type="text" ng-model="formToDoText" placeholder="Add a ToDo here...">&nbsp;
    <button class="btn btn-warning btn-sm" role="button" ng-click="addToDo()">Add</button>
    <br /><br />
      <table>
        <tr ng-repeat="task in tasks">
          <td><input type="checkbox" /></td>
          <td>&nbsp; {{ task.todo }}</td> 
        </tr>
      </table><br/>
      <p> {{ getToDoCount() }} items left</p>
    </form>
    <br />
      <button class="btn btn-info btn-sm" role="button">Active</button>
      <button class="btn btn-success btn-sm" role="button">Complete</button>
      <button class="btn btn-danger btn-sm" role="button" ng-click="clearAll()">Clear All</button>
  </body>
</html>



